/* Universal Selectors */

:root {
    --font-color: #467599;
    --background-color: #ededf7;
    --heading-color: #31343e;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

a:hover {
    color: var(--background-color)
}

/* Element Selectors  */

header {
    background-color: #31343e;
    height: 60px;
}


header h1 {
    display:inline-block;
    background-color: #82cece;
    color: #31343e;
    margin-top: 10px;
    padding: 0 15px 0 15px;
}

nav {
    display: inline-block;
    float: right;
    background-color: #31343e;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #82cece;

}
ul {
    list-style-type: none;
    background-color: #31343e;
    width: 100%;
    margin: 0;
    padding-top: 15px;
}

li {
    display: inline-block;
    background-color: #31343e;
    border-bottom: 2px solid #82cece;
    margin: 0 25px;
    font-weight: bold;
    
}

main {
    display: flex;
    flex-direction: column;
}
main p {
    text-align: left;
}

/* aside {
    flex: 1;
    background-color: var(--background-color);
    text-align: left;
  } */

/* Class Selectors  */
.container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    border-left: 5px solid var(--font-color);
    padding: 10px;
    
}

/* ID Selectors  */

#project-1 {
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.vQ_4U3dJhtvusW58wngb4gAAAA&pid=Api&P=0&w=300&h=300);
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    border: 5px solid var(--font-color);
}

#project-2, #project-3, #project-4, #project-5{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.vQ_4U3dJhtvusW58wngb4gAAAA&pid=Api&P=0&w=300&h=300);
}



#about-me {
    display: flex;
    padding: 15px;
    text-align: right;
}

#about-me div {
    margin-left: 25px;
    border-left: 5px solid Var(--font-color);
    padding: 10px;
}

#work {
    display: flex;
    padding: 28px;
    text-align: right;
}
#contact-me {
    display: flex;
    padding: 28px;
    border-left: 5px solid Var(--font-color);
    text-align: right;
}
